<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      A new version of the Mythical Mysfits API that includes updated JavaScript
      code to send an additional PUT request whenever a mysfit profile is viewed
      by a user.
    -->
    <title>Mythical Mysfits</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.135.0.min.js"></script>
  </head>
  <body ng-app="mysfitsApp" style="background-color:#EBEBEB">
    <style>
      @media (max-width: 800px) {
      	img {
          max-width: 300px;
      	}
      }
    </style>
    <br>
    <div style="text-align: center">
      <img src="https://www.mythicalmysfits.com/images/mysfits_banner.gif" width="800px" align="center">
    </div>
  </div>
    <br>
    <br>
  <span style="text-align: center;">
    <p>
      <br>
      <b>Welcome to our adoption center!</b>
    </p>
    <hr>
    <p>
      <b>Our mission:</b> Ethical, mythical creature care.
      <br>
      <b>Our priority:</b> Finding homes for the abandoned, and often misunderstood, mythical creatures in our community.
      <br>
      <br>
      <span style="margin: 50px">
        We, at Mythical Mysfits believe that all creatures deserve a second chance...
        <br>
        Even if they spent their first chance hiding under bridges and unapologetically robbing helpless travelers.
        <br>
        <br>
        Browse the creatures below and find a match that will set your heart on fire!
      </span>
    </p>
    <hr>
  </span>
  <br>
  <div ng-controller="mysfitsRecommendationController" class="modal fade" id="recommendationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h2>Mysfit Recommendations</h2>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form id="recommendationForm">
            Answer the following questions to find the Mysfit we think is the best fit for you!
            <hr>
            <ol>
              <li ng-repeat="question in questionnaire.questions">
                <h5>{{question.questionText}}</h5>
                <div ng-repeat="selection in question.selectionOptions" >
                    <input type="radio" name={{question.questionId}} value={{selection.selectionValue}}>&nbsp;{{selection.selectionText}}</input><br>
                </div>
                <hr>
              </li>
            </ol>
            <input type="submit" id="recommendation-modal-button" name="recommendationButton" class="btn btn-info" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>


    <div class="container" ng-controller="mysfitsFilterController">
      <div id="filterMenu">
        <ul class="nav nav-pills">
          &nbsp;
          <li class="nav-item dropdown" ng-repeat="filterCategory in filterOptionsList.categories">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">{{filterCategory.title}}</a>
            <div class="dropdown-menu" >
              <button class="dropdown-item" ng-repeat="filterCategorySelection in filterCategory.selections" ng-click="queryMysfits(filterCategory.title, filterCategorySelection)">{{filterCategorySelection}}</button>
            </div>
          </li>
          &nbsp;
          <li class="nav-item " >
            <button type="button" class="btn btn-success" ng-click="removeFilter()">View All</button>
          </li>
          &nbsp;
          <li class="nav-item " >
            <button type="button" id="recommendMysfitButton" class="btn btn-warning" data-toggle="modal" data-target="#recommendationModal">Recommend a Mysfit</button>
          </li>
        </ul>
      </div>
    </div>

    <br>
    <div class="container">
      <div id="mysfitsGrid" class="row" ng-controller="mysfitsListController">
        <div class="col-md-4 border border-warning" ng-repeat="mysfit in mysfits">
            <br>
            <p align="center">
              <strong> {{mysfit.name}}</strong>
              <br>
              <img src="{{mysfit.thumbImageUri}}" alt="{{mysfit.name}}">
              <br>
              <br>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal" data-mysfitid="{{mysfit.mysfitId}}">View Profile</button>
            </p>
            <p>
              <br>
              <b>Species:</b> {{mysfit.species}}
              <br>
              <b>Good/Evil:</b> {{mysfit.goodEvil}}
              <br>
              <b>Lawful/Chaotic:</b> {{mysfit.lawChaos}}
            </p>
        </div>
      </div>
    </div>



    <div class="modal fade bd-example-modal-lg" id="profileModal" tabindex="-1" aria-hidden="true" ng-controller="mysfitProfileController">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h3>Mysfit Profile</h3>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
        <!-- Modal Body -->
          <div class="modal-body">
            <p align="center">
              <img id="profileImage" src="{{profileMysfit.profileImageUri}}" align="center" />
            </p>
            <br>
            <p id="profileName"><b>Name:</b> {{profileMysfit.name}}</p>
            <p id="profileSpecies"><b>Species:</b> {{profileMysfit.species}}</p>
            <p id="profileGoodEvil"><b>Good/Evil:</b> {{profileMysfit.goodEvil}} </p>
            <p id="profileLawChaos"><b>Lawful/Chaotic:</b>{{profileMysfit.lawChaos}} </p>
            <p id="profileAge"><b>Age:</b> {{profileMysfit.age}}</p>
            <p id="profileDescription"><b>Description:</b> {{profileMysfit.description}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
        </div>
      </div>
    </div>


    <br>
    <br>
    <div style="text-align: center;">
      <p>
        This site was created for use in the AWS Modern Application Workshop.
        <br>
        Get started by accessing the <a href="https://github.com/aws-samples/aws-modern-application-workshop">GitHub Repository</a> or visit <a href="http://aws.amazon.com/build-modern-app">aws.amazon.com/build-modern-app</a>.
        <br>
        For more information about getting started with AWS, visit our <a href="http://aws.amazon.com/developer">Developer Center</a>.
      </p>
    </div>
  <script>

    var mysfitsApiEndpoint = 'REPLACE_ME'; // example: 'https://abcd12345.execute-api.us-east-1.amazonaws.com/prod'
    var recommendationsApiEndpoint = 'REPLACE_ME'; // example: 'https://abcd12345.execute-api.us-east-1.amazonaws.com/prod'

    var app = angular.module('mysfitsApp', []);

    var gridScope;

    var filterScope;

    var profileScope;

    var recommendationScope;

    /*
     MODULE-4 recommendation.  For the purposes of this workshop,
      we have directly described the questions and choices via the below json
      object.  It would be common for this object or one like it to be retrieved
      via API so that your frontend would not have to be aware of the exact
      questions and choices as part of its code. But because creating a new
      microservice for the purpose of retrieving the questionnaire would not have
      added any addition learning topics, we have chosent to hardcode it here
      instead.
    */
    $("#recommendationForm").submit(function(event) {
      event.preventDefault();
      $('#recommendationModal').modal('toggle')
      var age = parseInt(document.querySelector('input[name="ageQ"]:checked').value);
      var job = parseInt(document.querySelector('input[name="jobQ"]:checked').value);
      var relax = parseInt(document.querySelector('input[name="relaxQ"]:checked').value);
      var color = parseInt(document.querySelector('input[name="colorQ"]:checked').value);
      var sport = parseInt(document.querySelector('input[name="sportQ"]:checked').value);

      var selections = [
          age,
          job,
          relax,
          color,
          sport
      ];
      console.log(selections);

      getMysfitRecommendation(selections);
    });

    function displayProfileModal(profileMysfit) {
      updateModalText(profileMysfit);
      $('#profileModal').modal("show");
    }

    function getMysfitRecommendation(submission) {
      var recommendationsApi = recommendationsApiEndpoint + '/recommendations';
      var entry;
  
      questionnaireEntry = {
        entry: submission
      }
  
      $.ajax({
        url : recommendationsApi,
        type : 'POST',
        headers : {'Content-Type': 'application/json'},
        dataType: 'json',
        data : JSON.stringify(questionnaireEntry),
        success : function(response) {
          console.log("recommendation received!");
          console.log(response);
          getMysfit(response.recommendedMysfit, displayProfileModal);
  
        },
        error : function(response) {
          console.log("could not submit question");
          console.log(response);
        }
      });
    }

    app.controller('mysfitsRecommendationController', function($scope) {
      recommendationScope = $scope;

      recommendationScope.questionnaire = {
        questions: [
         {
           questionId: "jobQ",
           questionText: "How old are you?",
           selectionOptions: [
             {
               selectionText: "Innocent",
               selectionValue: "1"
             },
             {
               selectionText: "Insufferable",
               selectionValue: "2"
             },
             {
               selectionText: "Inconsolable",
               selectionValue: "3"
             },
             {
               selectionText: "Fake it 'til you make it",
               selectionValue: "4"
             },
             {
               selectionText: "What's escrow?",
               selectionValue: "5"
             },
             {
               selectionText: "Forty is the new thirty",
               selectionValue: "6"
             },
             {
               selectionText: "How rude!!!",
               selectionValue: "7"
             },
             {
               selectionText: "Age is just a number",
               selectionValue: "8"
             }
           ]
         },
         {
           questionId: "ageQ",
           questionText: "What is your occupation?",
           selectionOptions: [
             {
               selectionText: "Full-Stack Unicorn",
               selectionValue: "1"
             },
             {
               selectionText: "MysOps Administrator",
               selectionValue: "2"
             },
             {
               selectionText: "Product Mangler",
               selectionValue: "3"
             },
             {
               selectionText: "Site Mysfitability Engineer",
               selectionValue: "4"
             },
             {
               selectionText: "Interbridge Troll",
               selectionValue: "5"
             },
             {
               selectionText: "Quality Destruction Engineer",
               selectionValue: "6"
             },
             {
               selectionText: "Co-Co-Founder",
               selectionValue: "7"
             },
             {
               selectionText: "Consultant",
               selectionValue: "8"
             }
           ]
         },
         {
           questionId: "relaxQ",
           questionText: "What is your favorite relaxing activity?",
           selectionOptions: [
             {
               selectionText: "Avoiding spoilers",
               selectionValue: "1"
             },
             {
               selectionText: "Posting spoilers on social media",
               selectionValue: "2"
             },
             {
               selectionText: "Reading the book first",
               selectionValue: "3"
             },
             {
               selectionText: "Writing TODO instead of real code",
               selectionValue: "4"
             },
             {
               selectionText: "Opening Vim",
               selectionValue: "5"
             },
             {
               selectionText: "Self-Loathing",
               selectionValue: "6"
             },
             {
               selectionText: "Golf",
               selectionValue: "7"
             },
             {
               selectionText: "Arguing with strangers on the Internet",
               selectionValue: "8"
             }
           ]
         },
         {
           questionId: "colorQ",
           questionText: "What is your favorite color?",
           selectionOptions: [
             {
               selectionText: "Black",
               selectionValue: "1"
             },
             {
               selectionText: "White",
               selectionValue: "2"
             },
             {
               selectionText: "Red All Over",
               selectionValue: "3"
             },
             {
               selectionText: "Greige",
               selectionValue: "4"
             },
             {
               selectionText: "Rainbow",
               selectionValue: "5"
             },
             {
               selectionText: "Reddish Green",
               selectionValue: "6"
             },
             {
               selectionText: "Gold",
               selectionValue: "7"
             },
             {
               selectionText: "Rich Mahogany",
               selectionValue: "8"
             }
           ]
         },
         {
           questionId: "sportQ",
           questionText: "What is your favorite extreme sport?",
           selectionOptions: [
             {
               selectionText: "Broomball",
               selectionValue: "1"
             },
             {
               selectionText: "Power Napping",
               selectionValue: "2"
             },
             {
               selectionText: "Laughing at jokes you didn't understand",
               selectionValue: "3"
             },
             {
               selectionText: "Turning people to stone",
               selectionValue: "4"
             },
             {
               selectionText: "Calling thread.fork()",
               selectionValue: "5"
             },
             {
               selectionText: "Quitting Vim",
               selectionValue: "6"
             },
             {
               selectionText: "Politics",
               selectionValue: "7"
             },
             {
               selectionText: "Deciding where to eat",
               selectionValue: "8"
             }
           ]
         }
        ]
      }
    });

    app.controller('clearFilterController', function($scope) {
    });

    app.controller('mysfitsFilterController', function($scope) {
      filterScope = $scope;

      // The possible options for Mysfits to populate the dropdown filters.
      $scope.filterOptionsList =
       {
         "categories": [
           {
             "title": "Good/Evil",
             "selections":  [
               "Good",
               "Neutral",
               "Evil"
             ]
           },
           {
             "title": "Lawful/Chaotic",
             "selections":  [
               "Lawful",
               "Neutral",
               "Chaotic"
             ]
           }
         ]
       };

       $scope.removeFilter = function() {
         allMysfits = getAllMysfits(applyGridScope);
       }

       $scope.queryMysfits = function(filterCategory, filterValue) {
           var filterCategoryQS = "";
           if (filterCategory==="Good/Evil") {
             filterCategoryQS = "GoodEvil";
           } else {
             filterCategoryQS = "LawChaos"
           }
           var mysfitsApi = mysfitsApiEndpoint + '/mysfits?' + 'filter=' + filterCategoryQS + "&value=" + filterValue;

           $.ajax({
             url : mysfitsApi,
             type : 'GET',
             success : function(response) {
               applyGridScope(response.mysfits)
             },
             error : function(response) {
               console.log("could not retrieve mysfits list.");
             }
           });
       }
    });

    app.controller('mysfitsListController', function($scope) {
      gridScope = $scope;

      getAllMysfits(applyGridScope);
    });

    app.controller('mysfitProfileController', function($scope) {
      profileScope = $scope;
    });

    function updateModalText(profileMysfit) {
      applyProfileScope(profileMysfit);
    }

    function applyGridScope(mysfitsList) {
      gridScope.mysfits = mysfitsList;
      gridScope.$apply();
    }

    function applyProfileScope(mysfit) {
      profileScope.profileMysfit = mysfit;
      profileScope.$apply();
    }

    function getAllMysfits(callback) {
      var mysfitsApi = mysfitsApiEndpoint + '/mysfits';

      $.ajax({
        url : mysfitsApi,
        type : 'GET',
        success : function(response) {
          callback(response.mysfits);
        },
        error : function(response) {
          console.log("could not retrieve mysfits list.");
        }
      });
    }

    function getMysfit(mysfitId, callback) {
      var mysfitsApi = mysfitsApiEndpoint + '/mysfits/' + mysfitId;

      $.ajax({
        url : mysfitsApi,
        type : 'GET',
        success : function(response) {
          callback(response);
        },
        error : function(response) {
          console.log("could not retrieve mysfit.");
        }
      });
    }
  </script>
</html>